.about {
    width: 100%;

    @media (min-width: 768px) {
        width: 75%;
    }

    @media (min-width: 992px) {
        width: 60%;
    }

    &__paragraph {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 20px;
    }
}