@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('../fonts/UbuntuMono-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('../fonts/UbuntuMono-Italic.ttf');
}

@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('../fonts/UbuntuMono-Bold.ttf');
}

@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('../fonts/UbuntuMono-BoldItalic.ttf');
}

@import "var";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fw-bold {
  font-weight: 700;
}

.fs-italic {
  font-style: italic;
}


body {
    background-color: black;
    color: $grey-text;
}

.container {
    max-width: 1440px;
    display: flex;
    min-height: calc(100vh - 80px);
    padding: 40px 20px;
    margin: 0 auto;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pulse-square {
    width: 10px;
    height: 15px;
    background-color: $green-text-light;
    margin-left: 25px;
}

@import "window";
@import "header";
@import "nav";
@import "section";
@import "whoami";
@import "about";
@import "skills";
