@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('../fonts/UbuntuMono-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('../fonts/UbuntuMono-Italic.ttf');
}

@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('../fonts/UbuntuMono-Bold.ttf');
}

@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('../fonts/UbuntuMono-BoldItalic.ttf');
}

@import "var";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Ubuntu-Mono';
    color: $grey-text;
}

.container {
    max-width: 1440px;
    display: flex;
    min-height: calc(100vh - 80px);
    padding: 40px 20px;
    margin: 0 auto;
}


@import "window";
@import "header";
@import "nav";
