// colors

$green-text: #4ADE80;
$green-text-light: #86EFAC;
$grey-text: #6B7280;
$grey-text-light: #D1D5DB;
$pink-text: #EC4899;

.color-green-text {
    color: $green-text
}

.color-green-text-light {
    color: $green-text-light
}

.color-grey-text {
    color: $green-text
}

.color-grey-text-light {
    color: $green-text-light
}