@import "var";

.whoami {

    &__title {
        display: block;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #fff;
    }

    &__subtitle {
        display: block;
        font-size: 18px;
        color: $green-text;
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    &__list-item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: $green-text;
        font-weight: 500;
        padding: 0.5rem 0;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;

        &:hover {
            color: $pink-text;
        }

        svg {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            fill: currentColor;
        }
    }
}